<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资金系统</title>
    <link href="../static/css/login-style.css">
</head>
<body>

<div class="container">
    <div class="head-box">
        <span>资金交易系统</span>
        <div class="menu-list">
            债券投资
        </div>
    </div>
    <div class="navcenter">
        <span>欢迎您！</span>
        <span>{{ date }}-{{ date }}</span>
        <span>系统日期：{{ date }}</span>
    </div>
    <div class=""></div>
</div>

</body>
</html>