<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资金系统</title>
    <link href="" rel="stylesheet">
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="img-text">
                <div class="img">
                    <img src="../static/img/OIP.jpg" alt="" />
                </div>
                <div class="user-info">
                    <span class="username">承浩</span>
                    <span class="userid">CHENGHAO001</span>
                </div>
            </div>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="serch-box">
                            <input type="text" placeholder="Seach for...">
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <span class="text navtext">债券交易</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <span class="text navtext">债券还本付息</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="button-content">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="text navtext">Logout</span>
                            </a>
                        </li>
                        <li class="mode">
                            <div class="sun-moon">
                            </div>
                            <span class="mode-text text">Dark Mode</span>
                            <div class="toggle-switch">
                                <span class="switch"></span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </header>
    </nav>

    <label>
        <select class="home">
            <div class="text">债券交易</div>
        </select>
    </label>

    <script src="../static/js/secMenu.js"></script>
</body>
</html>