<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>

<h1>用户登录</h1>
<form method="post">

    {% csrf_token %}

    <label>
        <p>
            <label for="user">用户名:</label>
            <input type="text" name="user" placeholder="用户名">
        </p>
        <p>
            <label for="pwd">用户密码:</label>
            <input type="password" name="pwd" placeholder="用户密码">
        </p>
        <p>
            <input type="submit" name="login" value="登录"/>
            <input type="submit" name="register" value="注册">
        </p>

        <span style="color: red">
            {{ error_msg }}
        </span>

    </label>
</form>

</body>
</html>