<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资金系统</title>
    <link rel="stylesheet" href="../static/css/login-style.css">
</head>
<body>

<div class="container">
    <div class="mask">
        <div class="center">
            <div class="top-title">
                <span>债券交易-新增</span>
                <span>X</span>
            </div>

            <div class="btn-area">
                <button type="button" onclick="tijiao()">保存</button>
                <button type="submit">提交</button>
                <button type="submit">取消</button>
            </div>

            <form class="base" id="sec-deal" method="post">

            </form>
        </div>
    </div>
</div>

</body>
</html>